/* CSS Document */
#redirect_box {
 float:right;
 position:absolute;
 top:100px;
 right:0px;
 background-color:#FF8C00;
 padding:10px;
 z-index:1000;
}
#redirect_box label{
 color:#000;
 margin-left: 3px;
 margin-bottom: 5px;
}
#redirect_box h1{
 color:#FFF;
 margin-top: 4px;
 margin-left: 2px;
 margin-bottom: 3px;
}
#redirect_box p{
 color:#000;
 margin-left: 3px;
 margin-bottom: 3px;
 margin-top: 6px;
}
#redirect_yes, #redirect_no {
 color:#09c;
 cursor:pointer;
 margin-left: 3px;
 font-weight: 600;
 margin-bottom: 10px;
}
#redirect_yes:hover, #redirect_no:hover {
 color:#fff;
 cursor:pointer;
 text-decoration:none;
}
#redirect_remember {
 margin-top: 12px;
}
